mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #a8a4a4;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav > button {
  margin: 0 1vw 0 1vw;
  min-width: 12vw;
}