<div class="wrapper">
  <mat-toolbar>
    <span>Stock Tracker</span>
    <nav>
      <ng-container
        *ngIf="
          authService.isAuthenticated | async;
          else showUnauthenticatedBtns
        "
      >
        <span>Hello, {{ authService.username }} !</span>
        <button mat-stroked-button color="primary" routerLink="/home">
          Home
        </button> 
        <button mat-stroked-button color="primary" routerLink="/watchlist">
          Watchlist
        </button>
        <button mat-raised-button color="primary" (click)="logout()">
          Logout
        </button>
      </ng-container>
      <ng-template #showUnauthenticatedBtns>
        <button mat-stroked-button color="primary" routerLink="/home">
          Home
        </button>
        <button mat-stroked-button color="primary" routerLink="/login">
          Login
        </button>
        <button mat-raised-button color="primary" routerLink="/register">
          Register
        </button>
      </ng-template>
    </nav>
  </mat-toolbar>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="social-media">
      <a href="#"> <i class="fa-brands fa-github fa-2xl"></i> GitHub</a>
      <a href="#"> <i class="fa-brands fa-linkedin fa-2xl"></i> LinkedIn</a>
    </div>
    <div>&#169; <span class="year">2023</span> - Karlo Husak</div>
  </footer>
</div>
