.wrapper {
  display: flex;
  flex-direction: row;
}

mat-card {
  width: 200px;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}