<div class="wrapper">
  <app-stock-chart [symbol]="requestSymbol"></app-stock-chart>

  <div class="cards">
    <mat-card>
      <mat-card-content>
        <header class="latest-header">
          <div>
            <mat-card-title> Latest</mat-card-title>
            <mat-card-subtitle> {{ companyProfile?.ticker }}</mat-card-subtitle>
          </div>
          <div
            mat-card-avatar
            style="background-image: url('{{
              companyProfile?.logo
            }}');background-size: cover;"
          ></div>
        </header>
        Close: ${{ latestStockPrice?.close }}
        {{ latestStockPrice?.change }}
        ({{ latestStockPrice?.changePercentage }}%)
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <header>
          <mat-card-title> {{ companyProfile?.name }}</mat-card-title>
          <mat-card-subtitle> {{ companyProfile?.exchange }}</mat-card-subtitle>
          Country: {{ companyProfile?.country }} <br />
          Industry: {{ companyProfile?.finnhubIndustry }} <br />
          Mkt Cap: {{ companyProfile?.marketCapitalization }} <br />
        </header>
      </mat-card-content>
    </mat-card>
  </div>
</div>
