<div class="wrapper">
  <form>
    <h1>STOCK SEARCH</h1>
    <h2>Find latest stock data by entering a symbol</h2>
    <mat-form-field>
      <mat-label>Symbol...</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [matAutocomplete]="auto"
        [formControl]="formControl"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of symbolSearchResult$ | async"
          [value]="option"
          [routerLink]="['/stock', option.symbol]"
        >
          {{ option.symbol }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <app-news-group></app-news-group>
</div>
