mat-card {
  max-width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news-cards-group {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

mat-card-title {
  font-size: medium;
  line-height: 15px;
  max-height: 30px;
  overflow: hidden;
}

mat-card img {
  object-fit: cover;
  max-height: 100px;
}
